#sync-results-container {
    margin-top: 10px;
}

.blaze-wooless-layout-editor {
    display: flex;
    background-color: #1e2327;
}

.blaze-wooless-draggable-block .content {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: grab;
}

.blaze-wooless-draggable-panel h2 {
    background: transparent;
    margin: 0;
    padding: 20px 20px;
    color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
}

.blaze-wooless-draggable-block.disabled {
    opacity: 0.5;
}

.blaze-wooless-draggable-panel {
    width: 350px;
}

.blaze-wooless-draggable-panel-container {
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
}

.blaze-wooless-draggable-canvas-container {
    background: white;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #ccc;
    align-items: stretch;
}

.blaze-wooless-draggable-canvas {
    height: 100%;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block {
    display: flex;
    width: auto !important;
    flex-wrap: wrap;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block .content {
    width: 100%;
    display: flex;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block .remove {
    margin-left: auto;
    cursor: pointer;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block span.caret-status {
    cursor: pointer;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block span.caret-status:before {
    content: "\f140";
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block.open span.caret-status:before {
    content: "\f142";
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block .configuration {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block.open .configuration {
    display: block;
}

.blaze-wooless-draggable-block .configuration .footer {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.blaze-wooless-draggable-block .configuration .items .row-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #fff;
}

.blaze-wooless-draggable-block .configuration .row-item .remove {
    position: absolute;
    top: 5px;
    right: 10px;
}

.blaze-wooless-draggable-block .input-wrapper {
    margin-bottom: 10px;
}

.blaze-wooless-draggable-block .input-wrapper label {
    font-weight: bold;
}

.blaze-wooless-draggable-block .input-wrapper .input {
    width: 100%;
}

/* Region Selector */
#region_selector {
    margin-bottom: 20px;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block span:first-of-type {
    margin-left: auto;
}

.blaze-wooless-draggable-canvas .blaze-wooless-draggable-block span.config-button {
    cursor: pointer;
}